<div class="grid__item article large--one-third">
  {{ article.image | img_url: "medium" | img_tag }}
  <h3><a href="{{ article.url }}"><strong>{{ article.title }}</strong></a></h3>
  <p>{{ article.excerpt | strip_html | truncate: "100" }}</p>
</div>