<div class="collection">
  {% capture products %}
    {% for product in collection.products limit: limit %}
      {% if current_tags == blank %}
        {% include 'product-item' %}
      {% else %}
        {% capture related_tags %}
          {% for tag in current_tags %}
            {% assign _tags = product.tags | join: "," | downcase %}
            {% assign _tag = tag | downcase %}
            {% unless _tags contains _tag %}0{% endunless %}
          {% endfor %}
        {% endcapture %}

        {% unless related_tags contains 0 %}
          {% include 'product-item' %}
        {% endunless %}

      {% endif %}
    {% endfor %}
  {% endcapture %}
  {% assign products_no_newlines = products | strip_newlines %}
  {% unless products_no_newlines == blank %}
    <h2>{{ collection.title }}</h2>
  {% endunless %}

  {% if collection.products == blank %}
    <p>{{ 'collections.general.no_matches' | t }}</p>
  {% else %}
    <section class="collection-products">
      {{ products }}
    </section>
  {% endif %}
</div>
