<form action="/search" class="search-bar noprint" method="get" role="search">
  <input type="search" name="q" placeholder="{{ 'general.search.placeholder' | t }}">
  <i class="icon-x icon close-search"></i>
</form>
